/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: #333;
    background: linear-gradient(135deg, #FFFFFF 0%, #909090 50%, #afafaf 100%);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/* Estilos para o Container Principal */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #acacac6f;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilos para o Título e Parágrafo */
.container  h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.container p {
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
    margin-bottom: 2%;
    margin: 0 22px 20px 22px;
}

.container .observacao {
    text-align: center;
    text-transform: uppercase;
    opacity: 0.6;
    font-size: smaller;
}

/* Estilos para o Input (caixa de texto) */
input {
    width: 58%;
    padding: 10px;
    margin: 0 0 0 3%;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 13px;
    margin-bottom: 20px;
    transition: 0.3s;
}

#nome:focus {
    border-color: #ff00d0c8;
    outline: none;
    box-shadow: 0 0 10px rgba(37,99,235,0.3);
}

/* Estilos para os Botões */
#btn-prosseguir {
    padding: 12px 20px;
    margin-left: 2%;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: bold;
}

#btn-prosseguir:hover {
    background-color: #00a6ff;
}

#btn-cancelar {
    padding: 12px 20px;
    margin-left: 1%;
    background-color: #e53935;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: bold;
}

#btn-cancelar:hover {
    background-color: #fe0000;
}

/* Estilos para a tabela centralizada */
table {
    width: 100%;
    max-width: 760px;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
}

th {
    background-color: rgb(23, 26, 26);
    border: 1px solid #ffffff;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 15px;
}

td {
    background-color: rgb(43, 52, 52);
    border: 1px solid #ffffff;
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
    padding: 12px;
    text-align: center;
}

/* Estilos para o Select */
.select-horario {
    color: #ffffff;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    
}

/* Destaque da Linha */
.select-horario option {
    background-color: #0800ff; 
    padding: 10px; 
    direction: rtl;
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-inline-start: 0 !important;
    padding-inline-end: -4px !important;
}

.linha-destaque td {
    transition: background-color 0.8s ease;
    background-color: #0800ff !important;
    color: white !important;
}

/* Botão Resumo */
#btn-resumo {
    margin-top: 10px;
    width: 100%;
    max-width: 150px;
    margin-left: 41%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    color: black;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

/* Responsividade */
@media(max-width: 900px) {
    .container {
        overflow-x: auto;
    }

    table {
        min-width: 800px;
    }
}