/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: #333;
    background: linear-gradient(135deg, #FFFFFF 0%, #909090 50%, #afafaf 100%);
    background-attachment: fixed;
}

/* Estilos para o Container Principal */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #acacac6f;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para o Título e Parágrafo */
.container h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.container p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 2%;
}

.container .observacao {
    margin-top: 2%;
    opacity: 0.6;
    font-size: medium;
}

/* Estilos para o Input (caixa de texto) */
input {
    width: 50%;
    padding: 9px;
    margin: 0 0 0 8%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para o Botão */
#btn-prosseguir {
    padding: 10px 20px;
    margin-left: 2%;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

#btn-cancelar {
    padding: 10px 20px;
    margin-left: 1%;
    background-color: #e53935;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    transition: background 0.2s;
}
#btn-cancelar:hover {
    background-color: #b71c1c;
}

/* Estilos para a tabela centralizada */
table {
    width: 100%;
    max-width: 760px;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
}

th,
td {
    background-color: rgb(5, 6, 6);
    padding: 12px 16px;
    border: 1px solid #b4b4b4;
    color: #ffffff;
    font-weight: 500;
}

tr:nth-child(even) td {
    background-color: rgb(5, 6, 6);
}

.dia {
    text-align: center;
}

.disponibilidade {
    text-align: center;
    color: #7700ff;
}

.horario {
    text-align: center;
}

.nome {
    text-align: center;
}

th {
    color: #e2e2e2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: #454545;
    font-weight: 600;
    text-align: center;
}

/* Estilos para o Select */
select {
    padding: 6px 8px;
    border-radius: 4px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}

td:has(.select-horario) {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Destaque da Linha */
.linha-destaque td {
    background-color: #0663bf !important;
    color: white !important;
}

/* Destaque do Select */
.linha-destaque select {
    background-color: #0663bf;
    color: white;
    border: 1px solid white;
}